@if (editedRecipe() === null) {
  <div class="container p-4">
    <p class="text-danger text-center text-2xl">Recipe not found</p>
  </div>
} @else if (
  user() && editedRecipe() && user()?.id !== editedRecipe()?.author?.id
) {
  <div class="container p-4">
    <p class="text-danger text-center text-2xl">
      You do not have permission to edit this recipe
    </p>
  </div>
} @else if (urlParams.editRecipe && editedRecipe() === undefined) {
  <div class="container p-4">
    <p class="text-center">Loading...</p>
  </div>
} @else {
  <div class="container mx-auto flex flex-col gap-8 p-4">
    <h1 class="text-3xl font-bold lg:text-4xl">
      {{ editedRecipe() ? "Edit" : "Create New" }} Recipe
    </h1>
    @if (form.errorMessage()) {
      <app-form-error>
        {{ form.errorMessage() }}
      </app-form-error>
    }
    <form
      [formGroup]="form.root"
      (ngSubmit)="editedRecipe() ? updateRecipe() : createRecipe()"
      (keydown.enter)="$event.preventDefault()"
      class="flex flex-col gap-8"
    >
      <div
        class="bg-card text-card-foreground flex flex-col gap-6 rounded-lg border p-6 shadow-sm"
      >
        <h2 class="flex items-center gap-2 text-2xl font-medium">
          <mat-icon fontIcon="description"></mat-icon>
          Basic Information
        </h2>
        <div class="flex flex-col gap-4">
          <div class="flex flex-col gap-2">
            <label for="name" class="text-sm font-medium">Recipe Name *</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              placeholder="Enter recipe name"
              required
              [maxlength]="form.validators.name.MAX_LENGTH"
              class="rounded-lg border px-3 py-2"
              [class]="{
                'border-danger': form.hasError('name'),
              }"
            />
            @if (form.hasError("name")) {
              <app-field-error>
                @if (form.fieldErrorMessages()["name"]) {
                  {{ form.fieldErrorMessages()["name"] }}
                } @else if (form.name.hasError("required")) {
                  Required
                } @else if (form.name.hasError("maxlength")) {
                  Must be less than
                  {{ form.validators.name.MAX_LENGTH }} characters
                }
              </app-field-error>
            }
          </div>
          <div class="flex flex-col gap-2">
            <label for="description" class="text-sm font-medium"
              >Description
              <span class="text-muted-foreground text-xs italic"
                >(optional)</span
              ></label
            >
            <textarea
              id="description"
              formControlName="description"
              placeholder="Describe your recipe..."
              rows="3"
              [maxlength]="form.validators.description.MAX_LENGTH"
              class="rounded-lg border px-3 py-2"
              [class]="{
                'border-danger': form.hasError('description'),
              }"
            ></textarea>
            @if (form.hasError("description")) {
              <app-field-error>
                @if (form.fieldErrorMessages()["description"]) {
                  {{ form.fieldErrorMessages()["description"] }}
                } @else if (form.name.hasError("maxlength")) {
                  Must be less than
                  {{ form.validators.description.MAX_LENGTH }} characters
                }
              </app-field-error>
            }
          </div>
          <div class="flex flex-col gap-2">
            <label for="servings" class="text-sm font-medium"
              >Servings
              <span class="text-muted-foreground text-xs italic"
                >(optional)</span
              ></label
            >
            <input
              type="number"
              id="servings"
              formControlName="servings"
              placeholder="4"
              [max]="form.validators.servings.MAX"
              class="rounded-lg border px-3 py-2"
              [class]="{
                'border-danger': form.hasError('servings'),
              }"
            />
            @if (form.hasError("servings")) {
              <app-field-error>
                @if (form.fieldErrorMessages()["servings"]) {
                  {{ form.fieldErrorMessages()["servings"] }}
                } @else if (form.servings.hasError("max")) {
                  Must be less than {{ form.validators.servings.MAX }}
                }
              </app-field-error>
            }
          </div>
        </div>
        <div class="border-b"></div>
        <div class="bg-muted/25 flex gap-4 rounded-lg border p-4">
          <input
            type="checkbox"
            id="shared"
            formControlName="shared"
            class="cursor-pointer"
          />
          <label for="shared" class="flex cursor-pointer flex-col">
            <p class="font-medium">Make this recipe public</p>
            <p class="text-muted-foreground text-sm">
              Your recipe will be visible to all users and searchable in the
              community
            </p>
          </label>
        </div>
      </div>
      <div
        class="bg-card text-card-foreground flex flex-col gap-6 rounded-lg border p-6 shadow-sm"
      >
        <h2 class="flex items-center gap-2 text-2xl font-medium">
          <mat-icon fontIcon="photo_camera"></mat-icon>
          Recipe Image
          <span class="text-muted-foreground text-xl italic">(optional)</span>
        </h2>
        <app-image-uploader
          [form]="form"
          [initialSrc]="editedRecipe()?.imageUrl"
        ></app-image-uploader>
      </div>
      <div
        class="bg-card text-card-foreground flex flex-col gap-6 rounded-lg border p-6 shadow-sm"
      >
        <h2 class="flex items-center gap-2 text-2xl font-medium">
          <mat-icon fontIcon="receipt_long"></mat-icon>
          Ingredients
        </h2>
        <app-ingredient-selector [form]="form"></app-ingredient-selector>
      </div>
      <div
        class="bg-card text-card-foreground flex flex-col gap-6 rounded-lg border p-6 shadow-sm"
      >
        <h2 class="flex items-center gap-2 text-2xl font-medium">
          <mat-icon fontIcon="format_list_numbered"></mat-icon>
          Instructions
        </h2>
        <app-instruction-adder [form]="form"></app-instruction-adder>
      </div>
      <div
        class="bg-card text-card-foreground flex flex-col gap-6 rounded-lg border p-6 shadow-sm"
      >
        <h2 class="flex items-center gap-2 text-2xl font-medium">
          <mat-icon fontIcon="article"></mat-icon>
          Nutrition Facts
        </h2>
        <div class="grid gap-4 md:grid-cols-3">
          <div class="flex flex-col gap-1">
            <label for="calories" class="text-sm font-medium"
              >Calories per serving
              <span class="text-muted-foreground text-xs italic"
                >(optional)</span
              ></label
            >
            <input
              id="calories"
              type="number"
              formControlName="calories"
              placeholder="350"
              [min]="form.validators.calories.MIN"
              [max]="form.validators.calories.MAX"
              class="rounded-lg border px-3 py-2"
              [class]="{
                'border-danger': form.hasError('calories'),
              }"
            />
            @if (form.hasError("calories")) {
              <app-field-error>
                @if (form.fieldErrorMessages()["calories"]) {
                  {{ form.fieldErrorMessages()["calories"] }}
                } @else if (form.calories.hasError("min")) {
                  Must be greater than {{ form.validators.calories.MIN }}
                } @else if (form.calories.hasError("max")) {
                  Must be less than {{ form.validators.calories.MAX }}
                }
              </app-field-error>
            }
          </div>
          <div class="flex flex-col gap-1">
            <label for="protein" class="text-sm font-medium"
              >Protein (g)
              <span class="text-muted-foreground text-xs italic"
                >(optional)</span
              ></label
            >
            <input
              id="protein"
              type="number"
              formControlName="protein"
              placeholder="25"
              [min]="form.validators.protein.MIN"
              [max]="form.validators.protein.MAX"
              class="rounded-lg border px-3 py-2"
              [class]="{
                'border-danger': form.hasError('protein'),
              }"
            />
            @if (form.hasError("protein")) {
              <app-field-error>
                @if (form.fieldErrorMessages()["proteinGrams"]) {
                  {{ form.fieldErrorMessages()["proteinGrams"] }}
                } @else if (form.protein.hasError("min")) {
                  Must be greater than {{ form.validators.protein.MIN }}
                } @else if (form.protein.hasError("max")) {
                  Must be less than {{ form.validators.protein.MAX }}
                }
              </app-field-error>
            }
          </div>
          <div class="flex flex-col gap-1">
            <label for="carbohydrates" class="text-sm font-medium"
              >Carbohydrates (g)
              <span class="text-muted-foreground text-xs italic"
                >(optional)</span
              ></label
            >
            <input
              id="carbohydrates"
              type="number"
              formControlName="carbohydrates"
              placeholder="30"
              [min]="form.validators.carbohydrates.MIN"
              [max]="form.validators.carbohydrates.MAX"
              class="rounded-lg border px-3 py-2"
              [class]="{
                'border-danger': form.hasError('carbohydrates'),
              }"
            />
            @if (form.hasError("carbohydrates")) {
              <app-field-error>
                @if (form.fieldErrorMessages()["carbohydratesGrams"]) {
                  {{ form.fieldErrorMessages()["carbohydratesGrams"] }}
                } @else if (form.carbohydrates.hasError("min")) {
                  Must be greater than {{ form.validators.carbohydrates.MIN }}
                } @else if (form.carbohydrates.hasError("max")) {
                  Must be less than {{ form.validators.carbohydrates.MAX }}
                }
              </app-field-error>
            }
          </div>
          <div class="flex flex-col gap-1">
            <label for="fat" class="text-sm font-medium"
              >Fat (g)
              <span class="text-muted-foreground text-xs italic"
                >(optional)</span
              ></label
            >
            <input
              id="fat"
              type="number"
              formControlName="fat"
              placeholder="15"
              [min]="form.validators.fat.MIN"
              [max]="form.validators.fat.MAX"
              class="rounded-lg border px-3 py-2"
              [class]="{
                'border-danger': form.hasError('fat'),
              }"
            />
            @if (form.hasError("fat")) {
              <app-field-error>
                @if (form.fieldErrorMessages()["fatGrams"]) {
                  {{ form.fieldErrorMessages()["fatGrams"] }}
                } @else if (form.fat.hasError("min")) {
                  Must be greater than {{ form.validators.fat.MIN }}
                } @else if (form.fat.hasError("max")) {
                  Must be less than {{ form.validators.fat.MAX }}
                }
              </app-field-error>
            }
          </div>
          <div class="flex flex-col gap-1">
            <label for="fiber" class="text-sm font-medium"
              >Fiber (g)
              <span class="text-muted-foreground text-xs italic"
                >(optional)</span
              ></label
            >
            <input
              id="fiber"
              type="number"
              formControlName="fiber"
              placeholder="5"
              [min]="form.validators.fiber.MIN"
              [max]="form.validators.fiber.MAX"
              class="rounded-lg border px-3 py-2"
              [class]="{
                'border-danger': form.hasError('fiber'),
              }"
            />
            @if (form.hasError("fiber")) {
              <app-field-error>
                @if (form.fieldErrorMessages()["fiberGrams"]) {
                  {{ form.fieldErrorMessages()["fiberGrams"] }}
                } @else if (form.fiber.hasError("min")) {
                  Must be greater than {{ form.validators.fiber.MIN }}
                } @else if (form.fiber.hasError("max")) {
                  Must be less than {{ form.validators.fiber.MAX }}
                }
              </app-field-error>
            }
          </div>
          <div class="flex flex-col gap-1">
            <label for="sugar" class="text-sm font-medium"
              >Sugar (g)
              <span class="text-muted-foreground text-xs italic"
                >(optional)</span
              ></label
            >
            <input
              id="sugar"
              type="number"
              formControlName="sugar"
              placeholder="8"
              [min]="form.validators.sugar.MIN"
              [max]="form.validators.sugar.MAX"
              class="rounded-lg border px-3 py-2"
              [class]="{
                'border-danger': form.hasError('sugar'),
              }"
            />
            @if (form.hasError("sugar")) {
              <app-field-error>
                @if (form.fieldErrorMessages()["sugarGrams"]) {
                  {{ form.fieldErrorMessages()["sugarGrams"] }}
                } @else if (form.sugar.hasError("min")) {
                  Must be greater than {{ form.validators.sugar.MIN }}
                } @else if (form.sugar.hasError("max")) {
                  Must be less than {{ form.validators.sugar.MAX }}
                }
              </app-field-error>
            }
          </div>
        </div>
      </div>
      <div
        class="bg-card text-card-foreground flex flex-col gap-6 rounded-lg border p-6 shadow-sm"
      >
        <h2 class="flex items-center gap-2 text-2xl font-medium">
          <mat-icon fontIcon="notes"></mat-icon>
          Notes
          <span class="text-muted-foreground text-xl italic">(Optional)</span>
        </h2>
        <textarea
          formControlName="notes"
          rows="3"
          placeholder="Share any tips, variations, or additional information about your recipe..."
          [maxlength]="form.validators.notes.MAX_LENGTH"
          class="rounded-lg border px-3 py-2 text-sm"
          [class]="{
            'border-danger': form.hasError('notes'),
          }"
        ></textarea>
        @if (form.hasError("notes")) {
          <app-field-error>
            @if (form.fieldErrorMessages()["notes"]) {
              {{ form.fieldErrorMessages()["notes"] }}
            } @else if (form.notes.hasError("maxlength")) {
              Must be less than {{ form.validators.notes.MAX_LENGTH }}
            }
          </app-field-error>
        }
      </div>
      <div class="flex justify-between gap-4">
        <div>
          @if (editedRecipe()) {
            <app-delete-button [recipe]="editedRecipe()!"></app-delete-button>
          }
        </div>
        <div class="flex justify-end gap-4">
          <a
            href="/browse"
            class="hover:bg-accent hover:text-accent-foreground rounded-lg border px-3 py-2 text-sm font-medium transition"
            >Cancel</a
          >
          <button
            type="submit"
            class="bg-primary text-primary-foreground hover:bg-primary/90 flex items-center gap-1 rounded-lg border px-3 py-2 text-sm font-medium transition"
          >
            <span class="flex scale-75 items-center">
              <mat-icon fontIcon="save"></mat-icon>
            </span>
            Save Recipe
          </button>
        </div>
      </div>
    </form>
  </div>
}
