<div class="bg-muted border-t">
  <div class="container mx-auto flex flex-col divide-y px-4">
    <div class="flex gap-4 py-6">
      <div class="flex-1 space-y-4">
        <h1 class="text-orange text-xl font-bold">MoRecipes</h1>
        <p class="text-muted-foreground text-sm">
          Discover, create, and share amazing recipes with food lovers around
          the world. Transform your cooking experience with our community-driven
          platform.
        </p>
      </div>
      <div class="flex flex-1 justify-evenly gap-4">
        <div>
          <h2 class="font-medium">Explore</h2>
          <ul>
            <li>
              <a
                href="/browse?sort=most_viewed"
                class="text-muted-foreground hover:text-foreground text-sm transition"
                >Most Viewed</a
              >
            </li>
            <li>
              <a
                href="/browse?sort=trending"
                class="text-muted-foreground hover:text-foreground text-sm transition"
                >Trending</a
              >
            </li>
            <li>
              <a
                href="/browse?sort=newest"
                class="text-muted-foreground hover:text-foreground text-sm transition"
                >Newest</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h2 class="font-medium">Account</h2>
          <ul>
            @if (user()) {
              <li>
                <a
                  href="/account/recipes"
                  class="text-muted-foreground hover:text-foreground text-sm transition"
                  >My Recipes</a
                >
              </li>
              <li>
                <a
                  href="/account/settings"
                  class="text-muted-foreground hover:text-foreground text-sm transition"
                  >Settings</a
                >
              </li>
            } @else {
              <li>
                <a
                  href="/login"
                  class="text-muted-foreground hover:text-foreground text-sm transition"
                  >Login</a
                >
              </li>
              <li>
                <a
                  href="/sign-up"
                  class="text-muted-foreground hover:text-foreground text-sm transition"
                  >Sign Up</a
                >
              </li>
            }
          </ul>
        </div>
      </div>
    </div>
    <div class="py-6">
      <p class="text-muted-foreground m-auto size-fit text-sm">
        © 2025 MoRecipes. All rights reserved.
      </p>
    </div>
  </div>
</div>
