<div class="space-y-6 p-4">
  <h1 class="border-secondary-500 border-b-2 pb-2 text-3xl">Browse Recipes</h1>

  <div class="mx-auto max-w-7xl space-y-6">
    <section class="flex items-center justify-between gap-8">
      <div class="flex gap-8">
        <app-sort-button value="most_viewed">Most Viewed</app-sort-button>
        <app-sort-button value="newest"> Newest </app-sort-button>
        <app-sort-button value="trending"> Trending </app-sort-button>
      </div>
      <div
        class="border-dark-500 flex w-fit gap-2 rounded-full border px-4 py-2"
      >
        <input type="text" placeholder="Search..." class="outline-none" />
        <button class="flex items-center">
          <mat-icon
            aria-hidden="false"
            aria-label="Search icon"
            fontIcon="search"
          ></mat-icon>
        </button>
      </div>
    </section>
    <section class="flex gap-8">
      @if (recipes()) {
        <ul class="border-dark-500 rounded-lg border">
          @for (recipe of recipes(); track recipe.id) {
            <li
              class="flex gap-4 p-4"
              [class]="{
                'border-b': !$last,
                'border-b-dark-500/50': !$last,
              }"
            >
              @if (recipe.imageUrl) {
                <img
                  [src]="recipe.imageUrl"
                  class="size-40 rounded object-cover"
                />
              }
              <div class="flex flex-col justify-between">
                <div>
                  <div class="flex gap-4">
                    <h1 class="font-bold">{{ recipe.name }}</h1>
                    @for (tag of recipe.tags; track tag) {
                      <p
                        class="text-light-500 bg-secondary-500 rounded-full px-2"
                      >
                        {{ tag }}
                      </p>
                    }
                  </div>
                  <p>{{ recipe.description }}</p>
                </div>
                <div>
                  <p>Prep time: {{ recipe.prepMinutes }} minutes</p>
                  <p>Calories: {{ recipe.calories }}</p>
                </div>
              </div>
            </li>
          }
        </ul>
      } @else if (errorMessage()) {
        <p>{{ errorMessage() }}</p>
      } @else {
        <p>Loading...</p>
      }
    </section>
  </div>
</div>
