<div class="p-16">
  <div
    class="bg-card text-card-foreground mx-auto flex w-full max-w-md flex-col gap-6 rounded-lg border p-6 shadow-lg"
  >
    <img src="/logo.png" alt="logo" class="mx-auto h-12" />
    <div class="space-y-2">
      <h2 class="text-center text-2xl font-bold">Welcome back!</h2>
      <p class="text-muted-foreground text-center text-sm">
        Sign in to your TasteBoard account to continue sharing amazing recipes.
      </p>
    </div>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onLoginSubmit()"
      class="flex flex-col gap-6"
    >
      @if (formErrorMessage) {
        <p
          class="text-danger bg-danger/10 border-danger/20 flex items-center gap-1 rounded-lg border p-2 text-sm"
        >
          <mat-icon fontIcon="error" class="scale-75"></mat-icon>
          {{ formErrorMessage }}
        </p>
      }
      <div class="flex flex-col gap-2">
        <label for="email" class="text-sm font-medium select-none">Email</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          class="placeholder:text-muted-foreground w-full rounded-lg border p-2"
          [class]="{ 'border-danger': emailErrorMessage }"
          placeholder="Enter your email"
          required
        />
        @if (emailErrorMessage) {
          <p class="text-danger flex items-center gap-1 text-sm">
            <mat-icon fontIcon="error" class="scale-75"></mat-icon>
            {{ emailErrorMessage }}
          </p>
        }
      </div>
      <div class="flex flex-col gap-2">
        <label for="password" class="text-sm font-medium select-none"
          >Password</label
        >
        <input
          id="password"
          type="password"
          formControlName="password"
          class="placeholder:text-muted-foreground w-full rounded-lg border p-2"
          [class]="{ 'border-danger': passwordErrorMessage }"
          placeholder="Enter your password"
          required
        />
        @if (passwordErrorMessage) {
          <p class="text-danger flex items-center gap-1 text-sm">
            <mat-icon fontIcon="error" class="scale-75"></mat-icon>
            {{ passwordErrorMessage }}
          </p>
        }
      </div>
      <div class="flex items-center justify-between">
        <div class="flex items-center gap-2">
          <input type="checkbox" id="rememberMe" class="" />
          <label for="rememberMe" class="text-sm font-medium select-none"
            >Remember Me</label
          >
        </div>
        <a href="" class="text-orange hover:text-orange/80 text-sm"
          >Forgot Password?</a
        >
      </div>
      <button
        type="submit"
        class="bg-primary text-primary-foreground hover:bg-primary/90 rounded-lg px-4 py-2"
      >
        Sign In
      </button>
    </form>
    <p class="text-muted-foreground text-center text-sm">
      Don't have an accout?
      <a href="/sign-up" class="text-orange hover:text-orange/80 font-medium"
        >Sign up here</a
      >
    </p>
  </div>
</div>
