<div class="px-4 py-16">
  <div
    class="bg-card text-card-foreground mx-auto flex w-full max-w-md flex-col gap-6 rounded-lg border p-6 shadow-lg"
  >
    <img src="/logo.png" alt="logo" class="mx-auto h-12" />
    <div class="space-y-2">
      <h2 class="text-center text-2xl font-bold">Welcome back!</h2>
      <p class="text-muted-foreground text-center text-sm">
        Sign in to your MoRecipes account to continue sharing amazing recipes.
      </p>
    </div>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onLoginSubmit()"
      class="flex flex-col gap-6"
    >
      @if (formErrorMessage()) {
        <p
          class="text-danger bg-danger/10 border-danger/20 flex items-center gap-1 rounded-lg border p-2 text-sm"
        >
          <mat-icon fontIcon="error" class="scale-75"></mat-icon>
          {{ formErrorMessage() }}
        </p>
      }
      <div class="flex flex-col gap-1">
        <label for="username" class="text-sm font-medium select-none"
          >Username</label
        >
        <div class="relative">
          <mat-icon
            fontIcon="person"
            class="absolute top-0 bottom-0 left-2 my-auto scale-75"
          ></mat-icon>
          <input
            id="username"
            type="text"
            formControlName="username"
            class="placeholder:text-muted-foreground w-full rounded-lg border p-2 pl-10"
            [class]="{ 'border-danger': inputErrorMessages()['username'] }"
            placeholder="Enter your username"
            required
          />
        </div>
        @if (inputErrorMessages()["username"]) {
          <p class="text-danger flex items-center gap-1 text-sm">
            <mat-icon fontIcon="error" class="scale-75"></mat-icon>
            {{ inputErrorMessages()["username"] }}
          </p>
        }
      </div>
      <div class="flex flex-col gap-1">
        <label for="password" class="text-sm font-medium select-none"
          >Password</label
        >
        <div class="relative">
          <mat-icon
            fontIcon="lock"
            class="absolute top-0 bottom-0 left-2 my-auto scale-75"
          ></mat-icon>
          <input
            id="password"
            [type]="showPassword() ? 'text' : 'password'"
            formControlName="password"
            class="placeholder:text-muted-foreground w-full rounded-lg border p-2 px-10"
            [class]="{ 'border-danger': inputErrorMessages()['password'] }"
            placeholder="Enter your password"
            required
          />
          <button
            type="button"
            (click)="togglePasswordVisibility()"
            class="hover:bg-accent absolute top-1 right-1 bottom-1 my-auto flex size-8 items-center justify-center rounded-lg"
          >
            <mat-icon
              [fontIcon]="showPassword() ? 'visibility_off' : 'visibility'"
              class="scale-75"
            ></mat-icon>
          </button>
        </div>
        @if (inputErrorMessages()["password"]) {
          <p class="text-danger flex items-center gap-1 text-sm">
            <mat-icon fontIcon="error" class="scale-75"></mat-icon>
            {{ inputErrorMessages()["password"] }}
          </p>
        }
      </div>
      <div class="flex items-center justify-between">
        <div class="flex items-center gap-2">
          <input type="checkbox" id="rememberMe" class="" />
          <label for="rememberMe" class="text-sm font-medium select-none"
            >Remember Me</label
          >
        </div>
        <a href="" class="text-orange hover:text-orange/80 text-sm"
          >Forgot Password?</a
        >
      </div>
      <button
        type="submit"
        class="bg-primary text-primary-foreground hover:bg-primary/90 rounded-lg px-4 py-2"
      >
        Sign In
      </button>
    </form>
    <p class="text-muted-foreground text-center text-sm">
      Don't have an accout?
      <a href="/sign-up" class="text-orange hover:text-orange/80 font-medium"
        >Sign up here</a
      >
    </p>
  </div>
</div>
