<div class="flex flex-col gap-4">
  <h2 class="border-b pb-2 text-2xl font-medium">My Recipes</h2>
  <app-search-bar
    (searchSubmit)="onSearchSubmit($event.query)"
  ></app-search-bar>
  @if (recipes()) {
    <div class="grid grid-cols-[repeat(auto-fill,minmax(20rem,1fr))] gap-4">
      @for (recipe of recipes(); track recipe.id) {
        <app-recipe-card [recipe]="recipe"></app-recipe-card>
      }
    </div>
  } @else if (errorMessage()) {
    <p>{{ errorMessage() }}</p>
  } @else {
    <p>Loading...</p>
  }
</div>
