<div
  class="bg-background/95 supports-[backdrop-filter]:bg-background/60 border-b backdrop-blur"
>
  <div
    class="container mx-auto flex items-center justify-between gap-4 px-4 py-2"
  >
    <a href="/">
      <h1 class="text-orange text-xl font-bold">MoRecipes</h1>
    </a>
    <div class="flex items-center gap-4">
      <a
        href="/"
        class="hover:bg-accent hover:text-accent-foreground rounded-lg px-3 py-1.5 text-sm font-medium transition"
        >Home</a
      >
      <a
        href="/browse"
        class="hover:bg-accent hover:text-accent-foreground rounded-lg px-3 py-1.5 text-sm font-medium transition"
        >Browse</a
      >
      <a
        href="/create"
        class="hover:bg-accent hover:text-accent-foreground inline-flex items-center rounded-lg px-3 py-1.5 text-sm font-medium transition"
        ><mat-icon fontIcon="add" class="scale-75"></mat-icon>Create</a
      >
    </div>
    <div>
      @if (user(); as user) {
        <app-account-button [user]="user"></app-account-button>
      } @else {
        <div class="space-x-4">
          <a
            href="/login"
            class="hover:bg-accent hover:text-accent-foreground rounded-lg px-3 py-1.5 text-sm font-medium transition"
            >Login</a
          >
          <a
            href="/sign-up"
            class="hover:bg-accent hover:text-accent-foreground rounded-lg border px-3 py-1.5 text-sm font-medium transition"
            >Signup</a
          >
        </div>
      }
    </div>
  </div>
</div>
