<div
  class="bg-card text-card-foreground flex flex-col gap-4 rounded-lg border p-4"
>
  <div class="flex items-center gap-2">
    <mat-icon fontIcon="lock"></mat-icon>
    <h3 class="text-2xl font-medium">Password</h3>
  </div>
  <form
    [formGroup]="form"
    (ngSubmit)="updatePassword()"
    class="flex flex-col gap-4"
  >
    <div class="flex flex-col gap-1">
      <label for="current-password" class="text-sm font-medium"
        >Current Password</label
      >
      <div class="relative">
        <input
          [type]="showCurrentPassword() ? 'text' : 'password'"
          id="current-password"
          formControlName="currentPassword"
          placeholder="Enter current password"
          required
          maxlength="256"
          class="w-full rounded-lg border py-2 pr-10 pl-3 text-sm"
          [class]="{ 'border-danger': inputErrorMessages().currentPassword }"
        />
        <button
          type="button"
          (click)="showCurrentPassword.set(!showCurrentPassword())"
          class="hover:bg-accent absolute top-1 right-1 bottom-1 my-auto flex size-8 items-center justify-center rounded-lg"
        >
          <mat-icon
            [fontIcon]="showCurrentPassword() ? 'visibility_off' : 'visibility'"
            class="scale-75"
          ></mat-icon>
        </button>
      </div>
      @if (inputErrorMessages().currentPassword) {
        <p class="text-danger flex items-center gap-1 text-sm">
          <mat-icon fontIcon="error" class="scale-75"></mat-icon>
          {{ inputErrorMessages().currentPassword }}
        </p>
      }
    </div>
    <div class="flex flex-col gap-1">
      <label for="new-password" class="text-sm font-medium">New Password</label>
      <div class="relative">
        <input
          [type]="showNewPassword() ? 'text' : 'password'"
          id="new-password"
          formControlName="newPassword"
          placeholder="Enter new password"
          required
          maxlength="256"
          class="w-full rounded-lg border py-2 pr-10 pl-3 text-sm"
          [class]="{ 'border-danger': inputErrorMessages().newPassword }"
        />
        <button
          type="button"
          (click)="showNewPassword.set(!showNewPassword())"
          class="hover:bg-accent absolute top-1 right-1 bottom-1 my-auto flex size-8 items-center justify-center rounded-lg"
        >
          <mat-icon
            [fontIcon]="showNewPassword() ? 'visibility_off' : 'visibility'"
            class="scale-75"
          ></mat-icon>
        </button>
      </div>
      @if (inputErrorMessages().newPassword) {
        <p class="text-danger flex items-center gap-1 text-sm">
          <mat-icon fontIcon="error" class="scale-75"></mat-icon>
          {{ inputErrorMessages().newPassword }}
        </p>
      }
    </div>
    <div class="flex flex-col gap-1">
      <label for="confirm-password" class="text-sm font-medium"
        >Confirm New Password</label
      >
      <div class="relative">
        <input
          [type]="showConfirmPassword() ? 'text' : 'password'"
          id="confirm-password"
          formControlName="confirmPassword"
          placeholder="Enter new password"
          required
          maxlength="256"
          class="w-full rounded-lg border py-2 pr-10 pl-3 text-sm"
          [class]="{ 'border-danger': inputErrorMessages().confirmPassword }"
        />
        <button
          type="button"
          (click)="showConfirmPassword.set(!showConfirmPassword())"
          class="hover:bg-accent absolute top-1 right-1 bottom-1 my-auto flex size-8 items-center justify-center rounded-lg"
        >
          <mat-icon
            [fontIcon]="showConfirmPassword() ? 'visibility_off' : 'visibility'"
            class="scale-75"
          ></mat-icon>
        </button>
      </div>
      @if (inputErrorMessages().confirmPassword) {
        <p class="text-danger flex items-center gap-1 text-sm">
          <mat-icon fontIcon="error" class="scale-75"></mat-icon>
          {{ inputErrorMessages().confirmPassword }}
        </p>
      }
    </div>
    <button
      type="submit"
      class="bg-primary hover:bg-primary/90 text-primary-foreground w-full rounded-lg p-2 text-sm font-medium transition"
    >
      Update Password
    </button>
  </form>
</div>
