<ng-container [formGroup]="form().root">
  <div formArrayName="instructions" class="flex flex-col gap-4">
    @for (instruction of form().instructions.controls; track instruction) {
      <div [formGroupName]="$index" class="grid grid-cols-4 gap-2">
        <div class="col-span-3 flex gap-2">
          <label
            for="instruction-{{ $index }}-description"
            class="py-1 text-sm font-medium"
          >
            <div
              class="bg-orange text-orange-foreground inline-flex size-6 items-center justify-center rounded-full"
            >
              {{ $index + 1 }}
            </div>
          </label>
          <div class="flex flex-1 flex-col gap-2">
            <textarea
              id="instruction-{{ $index }}-description"
              formControlName="description"
              rows="3"
              placeholder="Describe this cooking step..."
              required
              [maxlength]="
                form().validators.instructions.description.MAX_LENGTH
              "
              class="rounded-lg border px-3 py-2 text-sm"
              [class]="{
                'border-danger': form().hasError(
                  'instructions.' + $index + '.description'
                ),
              }"
            ></textarea>
            @if (form().hasError("instructions." + $index + ".description")) {
              <app-field-error>
                @if (
                  form().fieldErrorMessages()[
                    "instructions." + $index + ".description"
                  ]
                ) {
                  {{
                    form().fieldErrorMessages()[
                      "instructions." + $index + ".description"
                    ]
                  }}
                } @else if (
                  form().instructions.controls[
                    $index
                  ].controls.description.hasError("required")
                ) {
                  Required
                } @else if (
                  form().instructions.controls[
                    $index
                  ].controls.description.hasError("maxlength")
                ) {
                  Must be less than
                  {{ form().validators.instructions.description.MAX_LENGTH }}
                  characters
                }
              </app-field-error>
            }
          </div>
        </div>
        <div class="flex gap-2">
          <div class="flex flex-1 flex-col gap-1">
            <label
              for="instruction-{{ $index }}-minutes"
              class="text-sm font-medium"
              >Minutes
              <span class="text-muted-foreground text-xs italic"
                >(optional)</span
              ></label
            >
            <input
              id="instruction-{{ $index }}-minutes"
              type="number"
              formControlName="minutes"
              placeholder="5"
              [max]="form().validators.instructions.minutes.MAX"
              (input)="onMinutesInput($event, $index)"
              class="rounded-lg border px-3 py-2 text-sm"
              [class]="{
                'border-danger': form().hasError(
                  'instructions.' + $index + '.minutes'
                ),
              }"
            />
            @if (form().hasError("instructions." + $index + ".minutes")) {
              <app-field-error>
                @if (
                  form().fieldErrorMessages()[
                    "instructions." + $index + ".minutes"
                  ]
                ) {
                  {{
                    form().fieldErrorMessages()[
                      "instructions." + $index + ".minutes"
                    ]
                  }}
                } @else if (
                  form().instructions.controls[
                    $index
                  ].controls.minutes.hasError("max")
                ) {
                  Must be less than
                  {{ form().validators.instructions.minutes.MAX }}
                }
              </app-field-error>
            }
          </div>
          <button
            type="button"
            (click)="removeInstruction($index)"
            class="text-danger hover:bg-danger/10 mt-6 size-8 rounded-full border transition"
          >
            <span class="flex scale-75 items-center justify-center">
              <mat-icon fontIcon="remove"></mat-icon>
            </span>
          </button>
        </div>
      </div>
    }
    <div class="flex items-end justify-between">
      <button
        type="button"
        (click)="addInstruction()"
        class="hover:bg-accent hover:text-accent-foreground flex w-fit items-center gap-1 rounded-lg border px-3 py-2 text-sm font-medium transition"
      >
        <span class="scale-75">
          <mat-icon fontIcon="add"></mat-icon>
        </span>
        Add Step
      </button>
      <p>
        <span class="text-muted-foreground text-sm">Total Time:</span>
        @if (totalMinutes() >= 60) {
          <span class="text-2xl font-medium">
            {{ totalMinutes() | duration: "h" }}</span
          ><span class="text-sm font-medium">h</span>
        }
        <span class="text-2xl font-medium">
          {{ totalMinutes() | duration: "m" }}</span
        ><span class="text-sm font-medium">m</span>
      </p>
    </div>
  </div>
</ng-container>
