@import "tailwindcss";

@theme {
  --color-primary-50: #ffe0b3;
  --color-primary-100: #ffd9a4;
  --color-primary-200: #ffd395;
  --color-primary-300: #ffcd85;
  --color-primary-400: #ffc676;
  --color-primary-500: #fcc679;
  --color-primary-600: #e6ad5d;
  --color-primary-700: #cc9a52;
  --color-primary-800: #b38648;
  --color-primary-900: #99733e;
  --color-primary-950: #806034;

  --color-secondary-50: #f6f9f4;
  --color-secondary-100: #e7f3e5;
  --color-secondary-200: #d1e5cd;
  --color-secondary-300: #acd0a5;
  --color-secondary-400: #7db375;
  --color-secondary-500: #417d38;
  --color-secondary-600: #477a3f;
  --color-secondary-700: #3a6134;
  --color-secondary-800: #314e2d;
  --color-secondary-900: #294126;
  --color-secondary-950: #132211;

  --color-light-500: #f8faf7;

  --color-dark-500: #2e1d05;

  /* New Colors */

  --color-background: #ffffff;
  --color-foreground: #0c0a09;
  --color-primary: #1c1917;
  --color-primary-foreground: #fafaf9;
  --color-secondary: #f5f5f4;
  --color-secondary-foreground: #1c1917;
  --color-muted: #f5f5f4;
  --color-muted-foreground: #78716c;
  --color-accent: #f5f5f4;
  --color-accent-foreground: #1c1917;
  --color-danger: #ef4444;
  --color-danger-foreground: #fafaf9;

  --color-border: #e7e5e4;
  --color-input: #e7e5e4;
  --color-ring: #d6d3d1;

  --color-card: #ffffff;
  --color-card-foreground: #0c0a09;

  --color-popover: #ffffff;
  --color-popover-foreground: #0c0a09;

  --color-orange: #f97415;
  --color-orange-foreground: #fafaf9;

  --color-green: #16a249;
  --color-green-foreground: #fafaf9;

  --color-warm: #e8c468;
  --color-warm-foreground: #1c1917;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  button {
    @apply not-disabled:cursor-pointer;
  }

  a {
    @apply cursor-pointer;
  }

  button,
  a,
  input,
  textarea {
    @apply focus-visible:ring-ring focus-visible:ring-offset-background ring-offset-background focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-none;
  }
}
