<button
  type="button"
  (click)="checked = !checked"
  class="hover:bg-accent flex w-full gap-4 rounded-lg border p-4 transition"
  [class]="{
    'bg-muted': checked,
  }"
>
  <div
    class="bg-orange text-orange-foreground size-6 content-center rounded-full text-center text-sm"
    [class]="{
      'bg-orange/50': checked,
    }"
  >
    {{ seqNumber() }}
  </div>
  <div>
    <p
      [class]="{
        'line-through': checked,
        'text-muted-foreground': checked,
      }"
    >
      {{ instruction().description }}
    </p>
    <p class="text-muted-foreground flex items-center text-xs">
      <mat-icon fontIcon="timer" class="scale-50"></mat-icon>
      <span
        [class]="{
          'line-through': checked,
        }"
        >{{ instruction().minutes }} min</span
      >
    </p>
  </div>
</button>
